.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
    background-color: var(--beige);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: var(--border);
    z-index: 99;
}

.status-bar span {
    font-size: 22px;
    font-weight: 500;
    margin-left: 5px;
}

.status-bar i {
    font-size: 20px;
    margin-left: 5px;
}

.status-bar .status-bar__column:first-child span {
    margin-left: 0;
}

.status-bar .fa-battery-three-quarters {
    font-size: 24px;
}
