.user-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component:hover .user-component__column--hover .user-component__tit {
    color: red;
}

.user-component:hover .user-component__column--hover .user-component__txt {
    color: palevioletred
}

.user-component__column {
    display: flex;
    align-items: center;
}

.user-component__avt-big img {
    width: 120px;
    border: var(--border);
    border-radius: 20px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
    margin-right: 15px;
    cursor: pointer;
}

.user-component__tit-big {
    font-size: 24px;
    font-weight: 700;
}

.user-component__column i {
    font-size: 30px;
    cursor: pointer;
}

.user-component__avt {
    display: flex;
    align-items: center;
}

.user-component__avt img {
    width: 100px;
    border-radius: 20px;
    border: var(--border);
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
}

.user-component__txt-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 14px;
}

.user-component__tit {
    font-size: 22px;
}

.user-component__txt {
    margin-top: 10px;
    color: #666;
}

.tit-small {
    display: block;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.tit-small b {
    font-size: 16px;
    color: #666;
    margin-left: 10px;
}

.user-component__friends {
    margin-bottom: 20px;
}

.user-component__friends:last-child {
    margin-bottom: 200px;
}
